.inner {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;

    .slide {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: white;
        width: 100vw;
        height: 100vh;
    }

    .home-header {
        background: transparent;
    }

    .contact-header {
        background: hsl(0, 0%, 6%);
    }

    .about-header {
        background: rgb(244, 244, 244);
    }

    .work-header {
        background: white;
    }

    .header {
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 8;
        position: relative;
        background: transparent;
        

        .c {
            opacity: 0;
            height: 19px;
            width: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            transform: scale(0.9);
            margin-top: 3px;

            .copyright {
                transition: all .5s ease;
            }
        }

        :link {
            text-decoration: none;
        }

        >div {
            display: flex;
            font-size: 25px;
            justify-content: center;
            align-items: center;
        }

        .header-1 {
            display: flex;
            align-items: center;
            .nav-links-one {
                display: flex;
                width: 125px;
                height: 25px;
                position: relative;
                color: white;
                font-size: 17px;
                overflow: hidden;

                p {
                    font-weight: 300;
                    font-size: 1.2rem;
                }

                .code {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    transition: all .5s cubic-bezier(0.87, 0, 0.13, 1);
                }

                .isaac {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 126px;
                    transition: all .5s cubic-bezier(0.87, 0, 0.13, 1);
                }
            }

            &:hover {
                .copyright {
                    transform: rotate(360deg);
                }

                .code {
                    left: -75px;
                }

                .isaac {
                    left: 50px;
                }
            }
        }

        .header-2 {
            .profile-pic {
                display: none;
            }
            >* {
                margin-left: 3rem;
                font-size: 1.2rem;
                color: white;
                letter-spacing: 1px;
                font-weight: 300;
            }
        }

        .showbg {
            transform: scale(1);
            transition: all .2s ease;
        }

        .hidebg {
            transform: scale(0);
            transition: all .2s ease;
        }

        .burger-container {
            position: fixed;
            cursor: pointer;
            top: 2rem;
            right: 2rem;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: none;
            background-color: rgb(58, 58, 61);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            overflow: hidden;

            .ov {
                width: 100%;
                height: 150%;
                z-index: 5;
                border-radius: 50%;
                top: 100%;
                background-color: hsl(247, 80%, 47%);
                position: absolute;
            }

            .burger {
                width: 100%;

                &::before,
                &::after {
                    content: "";
                    position: relative;
                    display: block;
                    margin: auto;
                    height: 1px;
                    background-color: white;
                    width: 40px;
                    z-index: 9;
                }

                &::after {
                    top: 5px;
                    transition: all .4s;
                }

                &:before {
                    top: -5px;
                    transition: all .4s;
                }
            }

            .burger-active {
                &::before {
                    transform: rotate(-45deg);
                    top: 0;
                }

                &::after {
                    transform: rotate(45deg);
                    top: 0;
                }
            }
        }
    }
}


.button {
    height: 40px;
    width: 100px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .slider {
        position: relative;
        width: 100%;
        height: 100%;

        .el {
            height: fit-content;
            width: fit-content;

            &:hover {
                .perspectiveText {
                    transform: rotateX(90deg);

                    p {
                        &:nth-of-type(1) {
                            transform: translateY(-100%);
                            opacity: 0;
                        }

                        &:nth-of-type(2) {
                            opacity: 1;
                        }
                    }
                }
            }

            .perspectiveText {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 0.5s cubic-bezier(0.075, 0, 0.24, 1);
                transform-style: preserve-3d;

                p {
                    transition: all 0.5s cubic-bezier(0.075, 0, 0.24, 1);

                    &:nth-of-type(2) {
                        position: absolute;
                        transform: rotateX(-90deg) translateY(9px);
                        transform-origin: bottom center;
                    }
                }
            }

            &:nth-of-type(2) {
                position: absolute;
                top: 100%;
                width: inherit;
                height: inherit;
            }
        }
    }
}


//PRELOADER


.preloader-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    cursor: wait;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 65px;
    .preloader-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        z-index: 100;
        width: fit-content;
        color: white;
        .preloader-abs {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
        }
    }
    .p {
        z-index: 99;
        display: flex;
        .wordSpan {
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    .preloader-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        fill: black;

        path {
            fill: black;
        }
    }
}

//PRELOADER


@media screen and (max-width: 480px) {
  .button {
    width: fit-content;
  }

  .preloader-container {
    font-size: 45px;
  }
}


@media screen and (max-width: 580px) {
    .inner {
        .slide {
            z-index: -1;
        }
        .header {
            // border: 1px solid red;
            padding: 0;
            .burger-container {
                width: 60px;
                height: 60px;
            }
            >div:nth-of-type(1) {
                display: none;
            }
            >div {
                width: 100%;
            }
            .header-1 {
                display: none;
            }
            .header-2 {
                display: flex;
                justify-content: space-between;
                padding: 0 30px;
                align-items: center;
                .slider {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .profile-pic {
                    display: block;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                }
                >* {
                    margin-left: 0;
                    font-size: 1rem;
                    color: white;
                    letter-spacing: 1px;
                    font-weight: 300;
                }
            }
        }
    }
}


@media screen and (max-width: 980px) {
    .inner {
        .slide {
            z-index: -1;
        }
        .header {
            // border: 1px solid red;
            padding: 0;
            .burger-container {
                width: 60px;
                height: 60px;
            }
            >div:nth-of-type(1) {
                display: none;
            }
            >div {
                width: 100%;
            }
            .header-1 {
                display: none;
            }
            .header-2 {
                display: flex;
                justify-content: space-between;
                padding: 0 30px;
                align-items: center;
                .slider {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .profile-pic {
                    display: block;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                }
                >* {
                    margin-left: 0;
                    font-size: 1rem;
                    color: white;
                    letter-spacing: 1px;
                    font-weight: 300;
                }
            }
        }
    }
}

.main-about {
    width: 100%;
    height: 100%;
    background-color: rgb(85, 85, 85);
}

.nav-svg {
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100vh;
    fill: rgb(41, 41, 41);
    stroke: none;
}

.sidenav-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    z-index: 9;

    .sidenav-body-container {
        height: 100%;
        position: relative;
        padding: 150px;
    }

    .sidenav-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sidenav-header {
            display: flex;
            flex-direction: column;
            gap: 12px;
            font-size: 56px;
            margin-top: 20px;
            color: white;

            .underline {
                width: 100%;
                height: .2px;
                background-color: rgb(120, 120, 120);
                margin-bottom: 40px;
            }

            p {
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 200;
                margin-bottom: 20px;
            }

            >* {
                text-decoration: none;
            }

            a {
                text-decoration: none;
            }
        }
    }
}

.lines {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.slide-links {
    width: fit-content;
    >* {
        color: white;

        &:hover {
            opacity: 0.7;
            transform: scale(0.95);
        }
    }
}

.main-contact {
    background-color: hsl(0, 0%, 6%);
    width: 100%;
    height: 100%;
    border: 1px solid hsl(0, 0%, 6%);
    position: relative;
    .contact-cover {
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: hsl(0, 0%, 6%);
    }

    .main-contact-container {
        width: 1300px;
        margin: 120px auto;
        padding-top: 120px;
        color: white;
        display: grid;
        grid-template-columns: 60% 30%;
        justify-content: space-between;
        height: 100%;
        gap: 2rem;

        >div {
            width: 100%;
        }

        .contact-div1 {
            .hire-me {
                margin-bottom: 3rem;

                h1 {
                    font-size: 55px;
                    letter-spacing: 1px;
                }

                p {
                    color: rgb(120, 120, 120);
                    letter-spacing: .5px;
                    max-width: 600px;
                    font-size: 1.2rem;
                }
            }

            .form-div {
                border-top: 1px solid rgb(31, 30, 30);

                form {
                    >div {
                        border-bottom: 1px solid rgb(31, 30, 30);
                        display: flex;
                        flex-direction: column;
                        padding: 3rem 0;

                        label {
                            font-size: 1.2rem;
                            padding: 0 3rem;
                            position: relative;
                            margin-bottom: 1rem;

                            span {
                                position: absolute;
                                left: 0;
                                color: rgb(62, 62, 62);
                            }
                        }

                        input {
                            border: none;
                            outline: none;
                            margin-left: 3rem;
                            background-color: transparent;
                            color: rgb(62, 62, 62);
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .send-it {
                border-top: 1px solid rgb(31, 30, 30);
                margin: 200px 0;
                position: relative;

                .send-circle {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    right: 10%;
                    background-color: hsl(247, 58%, 42%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: translateY(-50%);
                    border: none;
                    font-size: 1.2rem;
                    cursor: pointer;
                    overflow: hidden;

                    p {
                        z-index: 990;
                    }
                }
            }
        }

        .contact-details {
            display: flex;
            flex-direction: column;
            padding-top: 4rem;

            >div {
                margin-bottom: 2rem;
            }

            .contact-image {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

            .contact-deets {
                >* {
                    margin: .5rem 0;
                }

                h4 {
                    color: rgb(62, 62, 62);
                    font-size: .6rem;
                    letter-spacing: .5px;
                    text-transform: uppercase;
                }
            }

            .contact-socials {
                >* {
                    margin: 1rem 0;
                }

                h4 {
                    color: rgb(62, 62, 62);
                    font-size: .6rem;
                    letter-spacing: .5px;
                    text-transform: uppercase;
                }

                >div {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    width: fit-content;

                    &:hover {
                        p {
                            border-bottom: 1px solid rgb(47, 47, 47);
                            border-bottom-width: .5px;
                        }
                    }

                    p {
                        margin: 0 .5rem;
                    }
                }
            }
        }
    }

    .contact-footer {
        color: white;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 30px 100px;

        h4 {
            color: rgb(62, 62, 62);
            font-size: .6rem;
            letter-spacing: .5px;
            text-transform: uppercase;
        }

        p {
            font-size: .9rem;
        }

        .foot-social {
            display: flex;

            p {
                margin-right: .5rem;
                cursor: pointer;

                &:hover {
                    border-bottom: 1px solid rgb(47, 47, 47);
                    border-bottom-width: .5px;
                }
            }
        }
    }
}

.main-work {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    background-color: rgb(244, 244, 244);
    position: relative;

    .main-work-container {
        width: 1300px;
        margin: 0 auto;
        padding: 120px 0;
        .work-line {
            height: 1px;
            width: 0;
            background-color: rgb(198, 198, 198);
            margin: 2rem 0 3rem 0;
        }

        h1 {
            // border-bottom: 1px solid rgb(231, 231, 231);
            font-size: 55px;
            letter-spacing: 1px;
            margin-bottom: .5rem;
        }

        h4 {
            font-size: 25px;
        }

        .content {
            display: grid;
            justify-content: space-between;
            grid-template-columns: 40% 55%;
            gap: 3rem;

            p {
                font-size: 1.2rem;
                margin-bottom: .5rem;
                font-weight: 500;
                letter-spacing: .5px;
                color: rgb(94, 94, 94);
            }

            .content-img-div {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                position: relative;
                .demo {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 1rem;
                    >div {
                        padding: .8rem 2.5rem;
                        background-color: rgb(255, 255, 255);
                        border-radius: 3px;
                        border: none;
                        box-shadow: 2px 2px 5px 2px rgb(236, 236, 236);

                    }
                }

                .gamebug-image {
                    width: 100%;
                    height: 100%;
                }

                .content-grid {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: .5rem;
                }
            }
        }
    }

    .glance-div {
        background-color: white;
        padding: 100px 0;
        .glance {
            width: 1300px;
            margin: 0 auto;

            h1 {
                margin-bottom: 2.5rem;
            }

            .glance-container {
                display: flex;
                justify-content: space-between;

                .glance-content {
                    >div {
                        border-bottom: 1px solid rgb(216, 216, 216);
                        padding-bottom: .5rem;
                        margin-bottom: 1rem;

                        h4 {
                            letter-spacing: .5px;
                            font-size: 1.3rem;
                        }
                    }

                    ul {
                        font-size: 1.1rem;
                        text-decoration: none;

                        >div {
                            margin-bottom: 1rem;
                            display: flex;
                            align-items: center;

                            span {
                                margin-left: .5rem;
                                color: rgb(94, 94, 94);
                            }
                        }
                    }
                }
            }

            .outcomes {
                text-align: center;
                margin: 3rem 0;

                p {
                    max-width: 1000px;
                    margin: 0 auto;
                    font-size: 1.1rem;
                    letter-spacing: .5px;
                    line-height: 1.4;
                    color: rgb(94, 94, 94);
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {



    .main-contact {
        background-color: hsl(0, 0%, 6%);
        width: 100%;
        height: 100%;
        border: 1px solid hsl(0, 0%, 6%);
        position: relative;
        padding: 0 15px;
        .contact-cover {
            position: absolute;
            top: -100px;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: hsl(0, 0%, 6%);
        }
    
        .main-contact-container {
            width: 100%;
            margin: 0 auto;
            padding-top: 50px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 2rem;
    
            >div {
                width: 100%;
            }
    
            .contact-div1 {
                .hire-me {
                    margin-bottom: 3rem;
    
                    h1 {
                        font-size: 40px;
                        letter-spacing: 0;
                        margin-bottom: 2rem;
                    }
    
                    p {
                        color: rgb(120, 120, 120);
                        letter-spacing: .5px;
                        max-width: 100%;
                    }
                }
    
                .form-div {
                    border-top: 1px solid rgb(31, 30, 30);
    
                    form {
                        >div {
                            border-bottom: 1px solid rgb(31, 30, 30);
                            display: flex;
                            flex-direction: column;
                            padding: 3rem 0;
    
                            label {
                                font-size: 1rem;
                                padding: 0 3rem;
                                position: relative;
                                margin-bottom: 1rem;
    
                                span {
                                    position: absolute;
                                    left: 0;
                                    color: rgb(62, 62, 62);
                                }
                            }
    
                            input {
                                border: none;
                                outline: none;
                                margin-left: 3rem;
                                background-color: transparent;
                                color: rgb(62, 62, 62);
                                font-size: 1rem;
                            }
                        }
                    }
                }
    
                .send-it {
                    border-top: 1px solid rgb(31, 30, 30);
                    margin: 100px 0;
                    position: relative;
    
                    .send-circle {
                        width: 120px;
                        height: 120px;
                        border: none;
                        font-size: 1rem;
                    }
                }
            }
    
            .contact-details {
                display: flex;
                flex-direction: row;
                padding-top: 4rem;
                gap: 1rem;
                justify-content: space-between;
                .arrowimg {
                    display: none;
                }
    
                >div {
                    margin-bottom: 2rem;
                }
    
                .contact-image {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .contact-deets {
                    >* {
                        margin: .5rem 0;
                    }
    
                    h4 {
                        color: rgb(62, 62, 62);
                        font-size: .6rem;
                        letter-spacing: .5px;
                        text-transform: uppercase;
                    }
                }
    
                .contact-socials {
                    display: none;
                    >* {
                        margin: 1rem 0;
                    }
    
                    h4 {
                        color: rgb(62, 62, 62);
                        font-size: .6rem;
                        letter-spacing: .5px;
                        text-transform: uppercase;
                    }
    
                    >div {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        width: fit-content;
    
                        &:hover {
                            p {
                                border-bottom: 1px solid rgb(47, 47, 47);
                                border-bottom-width: .5px;
                            }
                        }
    
                        p {
                            margin: 0 .5rem;
                        }
                    }
                }
            }
        }
    
        .contact-footer {
            color: white;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 10px 0 30px 0;

            // .edition {
            //     display: flex;
            //     justify-content: space-between;
            //     width: 100%;
            // }
    
            h4 {
                color: rgb(62, 62, 62);
                font-size: .6rem;
                letter-spacing: .5px;
                text-transform: uppercase;
            }
    
            p {
                font-size: .9rem;
            }

            // .div-social {
            //     display: none;
            // }
    
            .foot-social {
                // display: none;
    
                p {
                    margin-right: .5rem;
                    cursor: pointer;
    
                    &:hover {
                        border-bottom: 1px solid rgb(47, 47, 47);
                        border-bottom-width: .5px;
                    }
                }
            }
        }
    }











































































    .main-work {
        width: 100%;
        height: 100%;
        padding-top: 0;
        background-color: rgb(244, 244, 244);
        position: relative;
    
        .main-work-container {
            width: 100%;
            margin: 0;
            padding: 120px 15px;
    
            h1 {
                font-size: 30px;
                letter-spacing: 0;
                margin-bottom: 3rem;
                width: fit-content;
            }
    
            h4 {
                font-size: 20px;
            }
    
            .content {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 3rem;
                width: 100%;
    
                p {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                    font-weight: 500;
                    letter-spacing: 0;
                }
    
                .content-img-div {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    position: relative;
                    justify-content: center;
                    #gmb {
                        margin: 0 auto;
                        width: 100%;
                        >* {
                            width: 100%;
                        }
                    }
                    .demo {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        padding-bottom: 1rem;
                        >div {
                            padding: .8rem .5rem;
                            background-color: rgb(255, 255, 255);
                            border-radius: 3px;
                            border: none;
                            box-shadow: 2px 2px 5px 2px rgb(236, 236, 236);
    
                        }
                    }
    
                    .gamebug-image {
                        width: 90%;
                        height: 90%;
                    }
    
                    .content-grid {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: .5rem;
                        >* {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .glance-div {
        background-color: white;
        padding: 60px 15px;
        width: 100%;
        #gl {
            width: 100%;
            padding: 0 15px;
        }
        .glance {
            width: fit-content;
            margin: 0 auto;

            h1 {
                margin-bottom: 2.5rem;
            }

            .glance-container {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                gap: 2rem;
                width: 100%;

                .glance-content {
                    >div {
                        border-bottom: 1px solid rgb(216, 216, 216);
                        padding-bottom: .5rem;
                        margin-bottom: 1rem;

                        h4 {
                            letter-spacing: .5px;
                            width: fit-content;
                            font-size: 1.3rem;
                        }
                    }

                    ul {
                        font-size: 1.1rem;
                        text-decoration: none;
                        width: fit-content;

                        >div {
                            width: fit-content;
                            margin-bottom: 1rem;
                            display: flex;
                            align-items: center;

                            span {
                                margin-left: .5rem;
                            }
                        }
                    }
                }
            }

            .outcomes {
                width: fit-content;
                margin: 3rem 0;
                h1 {
                    font-size: 1.5rem;
                }

                p {
                    width: 100%;
                    margin: 0 auto;
                    font-size: 1.1rem;
                    letter-spacing: .5px;
                    line-height: 1.4;
                }
            }
        }
    }
}









@media screen and (max-width: 400px) {
    .sidenav-container {
        .sidenav-body-container {
            padding: 100px;
        }
    }
}




@media screen and (max-width: 480px) {

    .main-contact {
        background-color: hsl(0, 0%, 6%);
        width: 100%;
        height: 100%;
        border: 1px solid hsl(0, 0%, 6%);
        position: relative;
        padding: 0 15px;
        .contact-cover {
            position: absolute;
            top: -100px;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: hsl(0, 0%, 6%);
        }
    
        .main-contact-container {
            width: 100%;
            margin: 0 auto;
            padding-top: 50px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 2rem;
    
            >div {
                width: 100%;
            }
    
            .contact-div1 {
                .hire-me {
                    margin-bottom: 3rem;
    
                    h1 {
                        font-size: 40px;
                        letter-spacing: 0;
                        margin-bottom: 2rem;
                    }
    
                    p {
                        color: rgb(120, 120, 120);
                        letter-spacing: .5px;
                        max-width: 100%;
                        font-size: 1rem;
                    }
                }
    
                .form-div {
                    border-top: 1px solid rgb(31, 30, 30);
    
                    form {
                        >div {
                            border-bottom: 1px solid rgb(31, 30, 30);
                            display: flex;
                            flex-direction: column;
                            padding: 3rem 0;
    
                            label {
                                font-size: 1rem;
                                padding: 0 3rem;
                                position: relative;
                                margin-bottom: 1rem;
    
                                span {
                                    position: absolute;
                                    left: 0;
                                    color: rgb(62, 62, 62);
                                }
                            }
    
                            input {
                                border: none;
                                outline: none;
                                margin-left: 3rem;
                                background-color: transparent;
                                color: rgb(62, 62, 62);
                                font-size: .8rem;
                                letter-spacing: -.5px;
                            }
                        }
                    }
                }
    
                .send-it {
                    border-top: 1px solid rgb(31, 30, 30);
                    margin: 100px 0;
                    position: relative;
    
                    .send-circle {
                        width: 120px;
                        height: 120px;
                        border: none;
                        font-size: 1rem;
                    }
                }
            }
    
            .contact-details {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-top: 4rem;
                gap: 1rem;
    
                >div {
                    margin-bottom: 2rem;
                }
    
                .contact-image {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
    
                .contact-deets {
                    >* {
                        margin: .5rem 0;
                    }
    
                    h4 {
                        color: rgb(62, 62, 62);
                        font-size: .6rem;
                        letter-spacing: .5px;
                        text-transform: uppercase;
                    }
                }
    
                .contact-socials {
                    >* {
                        margin: 1rem 0;
                    }
    
                    h4 {
                        color: rgb(62, 62, 62);
                        font-size: .6rem;
                        letter-spacing: .5px;
                        text-transform: uppercase;
                    }
    
                    >div {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        width: fit-content;
    
                        &:hover {
                            p {
                                border-bottom: 1px solid rgb(47, 47, 47);
                                border-bottom-width: .5px;
                            }
                        }
    
                        p {
                            margin: 0 .5rem;
                        }
                    }
                }
            }
        }
    
        .contact-footer {
            color: white;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 10px 0 30px 0;

            .edition {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
    
            h4 {
                color: rgb(62, 62, 62);
                font-size: .6rem;
                letter-spacing: .5px;
                text-transform: uppercase;
            }
    
            p {
                font-size: .9rem;
            }

            .div-social {
                display: none;
            }
    
            .foot-social {
                display: none;
    
                p {
                    margin-right: .5rem;
                    cursor: pointer;
    
                    &:hover {
                        border-bottom: 1px solid rgb(47, 47, 47);
                        border-bottom-width: .5px;
                    }
                }
            }
        }
    }



    // MAIN WORK


    .main-work {
        width: 100%;
        height: 100%;
        padding-top: 0;
        background-color: rgb(244, 244, 244);
        position: relative;
    
        .main-work-container {
            width: 100%;
            margin: 0;
            padding: 120px 15px;
    
            h1 {
                font-size: 30px;
                letter-spacing: 0;
                margin-bottom: 3rem;
                width: fit-content;
            }
    
            h4 {
                font-size: 20px;
            }
    
            .content {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 3rem;
                width: 100%;
    
                p {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                    font-weight: 500;
                    letter-spacing: 0;
                }
    
                .content-img-div {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    position: relative;
                    justify-content: center;
                    #gmb {
                        margin: 0 auto;
                        width: 100%;
                        >* {
                            width: 100%;
                        }
                    }
                    .demo {
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        padding-bottom: 1rem;
                        >div {
                            padding: .8rem .5rem;
                            background-color: rgb(255, 255, 255);
                            border-radius: 3px;
                            border: none;
                            box-shadow: 2px 2px 5px 2px rgb(236, 236, 236);
    
                        }
                    }
    
                    .gamebug-image {
                        width: 90%;
                        height: 90%;
                    }
    
                    .content-grid {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: .5rem;
                        >* {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .glance-div {
        background-color: white;
        padding: 60px 15px;
        width: 100%;
        #gl {
            width: 100%;
            padding: 0 15px;
        }
        .glance {
            width: fit-content;
            margin: 0 auto;

            h1 {
                margin-bottom: 2.5rem;
            }

            .glance-container {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 2rem;
                width: fit-content;

                .glance-content {
                    >div {
                        border-bottom: 1px solid rgb(216, 216, 216);
                        padding-bottom: .5rem;
                        margin-bottom: 1rem;

                        h4 {
                            letter-spacing: .5px;
                            width: fit-content;
                            font-size: 1.3rem;
                        }
                    }

                    ul {
                        font-size: 1.1rem;
                        text-decoration: none;
                        width: fit-content;

                        >div {
                            width: fit-content;
                            margin-bottom: 1rem;
                            display: flex;
                            align-items: center;

                            span {
                                margin-left: .5rem;
                            }
                        }
                    }
                }
            }

            .outcomes {
                width: fit-content;
                margin: 3rem 0;
                h1 {
                    font-size: 1.5rem;
                }

                p {
                    width: 100%;
                    margin: 0 auto;
                    font-size: 1.1rem;
                    letter-spacing: .5px;
                    line-height: 1.4;
                }
            }
        }
    }
}