@font-face {
  font-family: 'Avant Garde Book BT';
  src: url('../../public/fonts/AVGARDD_2.woff') format('woff');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  /* font-family: 'Avant Garde Book BT'; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.body-main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.body-container {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 100px;
  height: 100%;
}

.body-text {
  width: fit-content;
  position: absolute;
  right: 8%;
  top: 45%;
  transform: translateY(-50%);
}

.body-text-p {
  color: white;
  font-size: 50px;
}

/* .slider-container {
  position: absolute;
  top: calc(100vh - 280px);
}
.slider {
  width: 100%;
  position: relative;
  display: flex;
  white-space: nowrap;
  padding: 0;
}
.slider p {
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-size: 250px;
} */